
      html,
      body,
      #viewDiv {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }

      #infoDiv {
        padding: 6px;
        width: 380px;
        height: 97%;
        position: absolute;
        top: 0px;
        right: 0px;
        --calcite-ui-brand: #71C96E;
        --calcite-ui-brand-hover: #67B564;
      }

      #resultsDiv {
        overflow: auto;
        display: none;
      }
